a:link{
    color: chocolate;
}
a:visited{
    color: blue;
}
a{
    text-decoration: none;
    color: green;
}
li{
    list-style: none;
    line-height: 2rem;
}
ul{
    display: inline-block;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
h1:hover{
    color: red;
}
li:hover{
    background-color: darkgrey;
}