:root{
    --color1:gray;
    --color2:green;
}
.title{
    color: var(--color2);
}
.about{
    background-color: var(--color1);
}
mark{
    background-color: var(--color2);
    color: var(--color1);
}
