.title{
    background-color: aqua;
    display: inline-block;
    padding: 30px;
    width: 300px;
    height: 200px;
}
em{
    background-color: red;
    display: block;
}
.hidden{
    display: flex;
}