nav.menu ul{
    list-style-type: none;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    background-color: aqua;
    display: none;
}
a{
    text-decoration: none;
}
li{
    margin: 8px 8px;
}
nav.menu button{
    display: block;
}
nav.menu:hover ul{
    display: inline-block;
    background-color: red;
}