.custom-checkbox{
    user-select: none;
}

.custom-checkbox input[type="checkbox"]{
    display: none;
}

.custom-checkbox label{
    cursor: pointer;
}

.custom-checkbox label::before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    border: 1px solid red;
    display: inline-block;
    margin-right: 4px;
}

.custom-checkbox input[type="checkbox"]:checked + label::before{
    background-color: red;
}