body{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    height: 100vh;
    padding: 30px;
}

.banner1{
    background-image: url("../img/nature.jpg");
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner2{
    background-image: url("../img/nature.jpg");
    height: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner3{
    background-image: url("../img/nature.jpg");
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}