.kutu{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.kutu1{
    background-color: red;
    transition: background-color 2s;
}

.kutu1:hover{
    background-color: aqua;
}

.kutu2{
    background-color: yellow;
    transition: transform 0.8s;
}

.kutu2:hover{
    transform: rotate(250deg);
}

.kutu3{
    background-color: blue;
    transition: transform 0.5s, background-color 1s;
}

.kutu3:active{
    background-color: green;
    transform: scale(1.5) rotate(35deg);
}

.kutu4{
    background-color: chocolate;
    transition: all 1s;
}

.kutu4:hover{
    transform: scale(1.5) rotate(270deg);
    background-color: deepskyblue;
    border-radius: 50%;
}

